問２４

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

25

26　メソッド

27

In [8]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [9]:
address = 'Tokyo,Japan'
address.split('o')

['T', 'ky', ',Japan']

spilitは（）の中の文字で分裂をさせている 2つ目のものはoで分けている

28

In [10]:
address = 'yapppe,dodo'
address.split('p')

['ya', '', '', 'e,dodo']

29

In [12]:
address = 'Tokyo,Japan'

In [13]:
address.index('T')

0

In [14]:
address.index('p')

8

左から探してその文字が何番目にあるかというのを探している。

30

In [18]:
address.upper()

'TOKYO,JAPAN'

upperは小文字を大文字に変換するもの

31

32

In [19]:
address.lower()

'tokyo,japan'

37

In [20]:
#モジュールdatetima に含まれる型（date とdatetime）を使う。
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

日付を計算するもの、数日なら頭で計算するのが早いがうるう年などの関連もある為、計算させると楽になる

38

In [21]:
date_a.year

2008

In [22]:
date_a.month

1

In [23]:
date_a.day

1

39

In [25]:
birthday = date(1998,1,23)

In [29]:
date_c = date.today()

In [30]:
life = date_c - birthday

In [31]:
print(life)

7054 days, 0:00:00

40

In [41]:
tmp = date.today()

In [42]:
tmp

datetime.date(2017, 5, 17)

In [43]:
tmp.weekday()

2

In [45]:
tmp = date(2008,1,1)

In [46]:
tmp.weekday()

1

46

In [47]:
date.today()

datetime.date(2017, 5, 17)