In [1]:
b = (1, 2, 3, '100 yen')

In [2]:
b

(1, 2, 3, '100 yen')

+ 角括弧のものは、変更可、「リスト」と呼ばれる
+ 丸括弧のものは、変更不可、「タプル」と呼ばれる
+ 波括弧のものは、変更可、重複無し、「セット」と呼ばれる
+ 波括弧{キーＡ、キーＢ....｝のものは、変更可、重複無し、辞書と呼ばれる。

In [5]:
b = list(b)

In [6]:
b

[1, 2, 3, '100 yen']

In [20]:
c = {10,15,200,10000}
c

{10, 15, 200, 10000}

In [22]:
c.add(1)
c

{1, 10, 15, 200, 10000}

In [24]:
a = [1,1,2,3,3,5]
b = set(a)
b

{1, 2, 3, 5}

In [26]:
a = list(range(90))
a[1] = 'America'
a[39] = 'Italy'
a[86] = 'China'

In [27]:
a[1]

'America'

In [28]:
a[39]

'Italy'

In [29]:
a[86]

'China'

In [32]:
a[81] = 'Japan'
a

[0,
 'America',
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 'Italy',
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 'Japan',
 82,
 83,
 84,
 85,
 'China',
 87,
 88,
 89]

In [36]:
a ={}

In [37]:
a['orange']=140
a['apple']=100

In [38]:
a

{'apple': 100, 'orange': 140}

a[0],a[1],a[2]....を配列と呼ぶ

In [56]:
code = {'America':1,'Italy':39,'China':86}

In [57]:
code['America']

1